/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31/12/2020, 19:32:07
    Author     : Jamilly
*/

#page-created-orphanage{
    background: #FF669D !important;
}

#page-created-orphanage .content{
    background: url('../images/Vector.svg') no-repeat 85% center !important;
    background-size: 35%;
    margin-top: 30px;
}
.buttons{
    position: absolute;
    top: 50%;
    left: 3%;
}

.content .go-back{
    height: 64px;
    width: 220px;
    
    border-radius: 20px;
    margin-top: 70px;
    margin-right: 20px;
    
    background: #e64f86;
    color: white;  
    
    display: inline-block;
    text-align: center;
    line-height: 60px;
 
    transition: background-color 0.2s;
}

.content .go-back:hover{
    background: #D6487B;
}
