/* 
    Created on : 25/11/2020, 19:35:03
    Author     : Jamilly
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #ffffff;
    background:#EBF2F5;
}

body, input, button, textarea{
    font: 600 18px Nunito, sans-serif;
}

button{
    outline: none;
}

.error{
    color: #ea3e3e !important;
}